In [1]:
# Reiniciar todo: importar pandas y volver a cargar el archivo CSV desde cero
import pandas as pd

df_acceso_educacion = pd.read_csv("ESTABLECIMIENTOS_EDUCATIVOS-COLOMBIA_20250603.csv", sep=",", encoding="utf-8")

In [2]:
df_acceso_educacion.head()

,año,secretaria,codigodepartamento,nombredepartamento,codigomunicipio,nombremunicipio,codigoestablecimiento,nombreestablecimiento,zona,direccion,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
0,2016,BUCARAMANGA,68,SANTANDER,68001,BUCARAMANGA,368001000290,FUND COL NUEVA GENERACION JUVENIL ...,URBANA,CLL 8 NO 22-57,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,...
1,2016,BUCARAMANGA,68,SANTANDER,68001,BUCARAMANGA,368001006298,COL MUNDO CONSTRUCTIVO ...,URBANA,CLL 84 NO 24ª - 60,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,...
2,2016,BUCARAMANGA,68,SANTANDER,68001,BUCARAMANGA,368001000907,COL ATENAS ...,URBANA,CR 26 NO 33-73,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,...
3,2016,SANTANDER,68,SANTANDER,68077,BARBOSA,368077000264,COLEGIO EVANGÉLICO INTERAMERICANO ...,URBANA,CARRERA 10 # 9 - 12,...,1,NaN,COMUNIDAD RELIGIOSA,COMUNIDAD RELIGIOSA,NO APLICA,NO,A,NaN,NaN,...
4,2016,NORTE SANTANDER,54,NORTE DE SANTANDER,54874,VILLA DEL ROSARIO,354874000619,COL NUESTRA SEÑORA DEL ROSARIO,URBANA,CLL 6 8-48 B.GRAMALOTE,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,-

In [3]:
# Contar valores nulos por columna
df_acceso_educacion.isna().sum()

año                              0
secretaria                       0
codigodepartamento               0
nombredepartamento               0
codigomunicipio                  0
nombremunicipio                  0
codigoestablecimiento            0
nombreestablecimiento            0
zona                             2
direccion                        0
telefono                      2232
nombre_Rector                   20
tipo_Establecimiento             0
etnias                       21616
sector                       22530
genero                       22530
niveles                        217
jornadas                       190
caracter                     22530
especialidad                 10676
grados                         217
modelos_Educativos             276
capacidades_Excepcionales    22152
discapacidades               18772
idiomas                      19344
numero_de_Sedes                  0
estado                       22530
prestador_de_Servicio            0
propiedad_Planta_Fisica          0
resguardo                       25
matricula_Contratada             0
calendario                       0
internado                    20979
estrato_Socio_Economico      17773
correo_Electronico            5482
dtype: int64

In [4]:
df_acceso_educacion = df_acceso_educacion.drop(columns=[
    'año', 'secretaria', 'direccion', 'telefono', 'nombre_Rector',
    'etnias', 'sector', 'genero', 'caracter', 'especialidad',
    'grados', 'modelos_Educativos', 'capacidades_Excepcionales',
    'discapacidades', 'idiomas', 'numero_de_Sedes', 'estado',
    'internado', 'estrato_Socio_Economico', 'correo_Electronico'
])

In [5]:
# Contar valores nulos por columna
df_acceso_educacion.isna().sum()

codigodepartamento           0
nombredepartamento           0
codigomunicipio              0
nombremunicipio              0
codigoestablecimiento        0
nombreestablecimiento        0
zona                         2
tipo_Establecimiento         0
niveles                    217
jornadas                   190
prestador_de_Servicio        0
propiedad_Planta_Fisica      0
resguardo                   25
matricula_Contratada         0
calendario                   0
dtype: int64

In [6]:
# Limpiar texto: mayúsculas, sin espacios extra, etc.
df_acceso_educacion['zona'] = df_acceso_educacion['zona'].astype(str).str.upper().str.strip().str.split().str.join(' ')
df_acceso_educacion['tipo_Establecimiento'] = df_acceso_educacion['tipo_Establecimiento'].astype(str).str.upper().str.strip().str.split().str.join(' ')
df_acceso_educacion['niveles'] = df_acceso_educacion['niveles'].astype(str).str.upper().str.strip().str.split().str.join(' ')
df_acceso_educacion['jornadas'] = df_acceso_educacion['jornadas'].astype(str).str.upper().str.strip().str.split().str.join(' ')
df_acceso_educacion['prestador_de_Servicio'] = df_acceso_educacion['prestador_de_Servicio'].astype(str).str.upper().str.strip().str.split().str.join(' ')
df_acceso_educacion['propiedad_Planta_Fisica'] = df_acceso_educacion['propiedad_Planta_Fisica'].astype(str).str.upper().str.strip().str.split().str.join(' ')
df_acceso_educacion['calendario'] = df_acceso_educacion['calendario'].astype(str).str.upper().str.strip().str.split().str.join(' ')
df_acceso_educacion['resguardo'] = df_acceso_educacion['resguardo'].astype(str).str.upper().str.strip().str.split().str.join(' ')

In [7]:
# Paso previo para asegurar uniformidad
df_acceso_educacion['matricula_Contratada'] = df_acceso_educacion['matricula_Contratada'].astype(str).str.upper().str.strip()
df_acceso_educacion['matricula_Contratada'] = df_acceso_educacion['matricula_Contratada'].replace({'SÍ': 'SI'})

In [8]:
# Mostrar los valores únicos presentes en la columna 'matricula_Contratada'
# Esto permite identificar inconsistencias, errores de escritura o variaciones antes de procesarla
df_acceso_educacion['matricula_Contratada'].unique()

array(['NO', 'SI'], dtype=object)

In [9]:
df_acceso_educacion['matricula_Contratada'] = df_acceso_educacion['matricula_Contratada'].map({
    'SI': True,
    'NO': False
})

In [10]:
df_acceso_educacion.dtypes

codigodepartamento          int64
nombredepartamento         object
codigomunicipio             int64
nombremunicipio            object
codigoestablecimiento       int64
nombreestablecimiento      object
zona                       object
tipo_Establecimiento       object
niveles                    object
jornadas                   object
prestador_de_Servicio      object
propiedad_Planta_Fisica    object
resguardo                  object
matricula_Contratada         bool
calendario                 object
dtype: object

In [11]:
df_acceso_educacion['codigodepartamento'] = df_acceso_educacion['codigodepartamento'].astype('object')
df_acceso_educacion['nombredepartamento'] = df_acceso_educacion['nombredepartamento'].astype('object')
df_acceso_educacion['codigomunicipio'] = df_acceso_educacion['codigomunicipio'].astype('object')
df_acceso_educacion['nombremunicipio'] = df_acceso_educacion['nombremunicipio'].astype('object')
df_acceso_educacion['codigoestablecimiento'] = df_acceso_educacion['codigoestablecimiento'].astype('object')
df_acceso_educacion['nombreestablecimiento'] = df_acceso_educacion['nombreestablecimiento'].astype('object')
df_acceso_educacion['resguardo'] = df_acceso_educacion['resguardo'].astype('object')

In [12]:
df_acceso_educacion.dtypes

codigodepartamento         object
nombredepartamento         object
codigomunicipio            object
nombremunicipio            object
codigoestablecimiento      object
nombreestablecimiento      object
zona                       object
tipo_Establecimiento       object
niveles                    object
jornadas                   object
prestador_de_Servicio      object
propiedad_Planta_Fisica    object
resguardo                  object
matricula_Contratada         bool
calendario                 object
dtype: object

In [13]:
# Reemplazo de valores nulos con texto estandarizado por columna
columnas_a_reemplazar = ['zona', 'niveles', 'jornadas', 'resguardo']

for col in columnas_a_reemplazar:
    reemplazo = f'no_diligenciado_{col.lower()}'
    df_acceso_educacion[col] = df_acceso_educacion[col].fillna(reemplazo)

In [14]:
# Conversión a tipo categórico solo para columnas específicas
columnas_categoricas = [
    'zona', 'niveles', 'jornadas',
    'prestador_de_Servicio', 'propiedad_Planta_Fisica',
    'matricula_Contratada', 'calendario'
]

for col in columnas_categoricas:
    df_acceso_educacion[col] = df_acceso_educacion[col].astype('category')

In [15]:
# Contar nulos y vacíos por columna
nulos_y_vacios = pd.DataFrame({
    'Nulos (NaN)': df_acceso_educacion.isna().sum(),
    'Vacíos ("")': (df_acceso_educacion == '').sum()
})
nulos_y_vacios

                         Nulos (NaN)  Vacíos ("")
codigodepartamento                 0            0
nombredepartamento                 0            0
codigomunicipio                    0            0
nombremunicipio                    0            0
codigoestablecimiento              0            0
nombreestablecimiento              0            0
zona                               0            0
tipo_Establecimiento               0            0
niveles                            0            0
jornadas                           0            0
prestador_de_Servicio              0            0
propiedad_Planta_Fisica            0            0
resguardo                          0            0
matricula_Contratada               0            0
calendario                         0            0